{% extends '::base.html.twig' %}

{% block body %}
    <h1>Hello</h1>
{% endblock %}

{% block javascripts %}
    {% javascripts
        '@AppBundle/Resources/public/js/calculator.js'
        '@AppBundle/Resources/public/js/randomizer.js'
        '@AppBundle/Resources/public/js/init.js'

        filter='?uglifyjs2'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/less/*' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}